{{define "agenda"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>agenda</title>
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="grey lighten-3">
    
    <nav>
        <div class="nav-wrapper teal">
        <a href="/historial/" class="brand-logo right">veterinaria</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/historial/">Historial de consultas</a></li>
                <li><a href="/agendar/">Agendar cita</a></li>
                <li class="active"><a href="/agenda/">Agenda</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
    
                            <div class="row">
                                <div class="col s12">
                                    <h3 class="center">Agenda</h3>
                                </div>
                            </div>

                            <div class="row">
                                <table class="centered highlight striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre del cliente</th>
                                            <th>Correo</th>
                                            <th>Fecha</th>
                                            <th>Consultar</th>
                                        </tr>
                                    </thead>
                            
                                    <tbody>
                                        {{range $key, $val := .Citas}}
                                        <tr>
                                            <td>{{$val.NombreDueno}}</td>
                                            <td>{{$val.Correo}}</td>
                                            <td>{{$val.Fecha}}</td>
                                            <td><a href="/consulta/?cita={{$val.IDCita}}" class="btn">*</a></td>
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
    </div>

    
</body>
</html>
{{end}}