{{define "historial"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>historial</title>
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="grey lighten-3">
    
    <nav>
        <div class="nav-wrapper teal">
        <a href="/historial/" class="brand-logo right">veterinaria</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li class="active"><a href="/historial/">Historial de consultas</a></li>
                <li><a href="/agendar/">Agendar cita</a></li>
                <li><a href="/agenda/">Agenda</a></li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col s10 offset-s1">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
    
                            <div class="row">
                                <div class="col s12">
                                    <h3 class="center">Historial</h3>
                                </div>
                            </div>

                            <div class="row">
                                <table class="centered highlight striped">
                                    <thead>
                                        <tr>
                                            <th>Dueño</th>
                                            <th>Mascota</th>
                                            <th>Tipo de animal</th>
                                            <th>Edad</th>
                                            <th>Peso</th>
                                            <th>Vacunas</th>
                                            <th>Prescripcion</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{range $key, $val := .Consultas}}
                                        <tr>
                                            <td>{{$val.NombreDueno}}</td>
                                            <td>{{$val.NombreMascota}}</td>
                                            <td>{{$val.TipoAnimal}}</td>
                                            <td>{{$val.Edad}} años</td>
                                            <td>{{$val.Peso}} kg</td>
                                            <td>{{$val.Vacunas}}</td>
                                            <td>{{$val.Prescripcion}}</td>
                                            <td>{{$val.FechaConsulta}}</td>
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
{{end}}
