{{define "registrar"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registrar</title>
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="grey lighten-3">

    <nav>
        <div class="nav-wrapper teal">
        <a href="/historial/" class="brand-logo right">veterinaria</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/historial/">Historial</a></li>
                <li><a href="/agendar/">Agendar cita</a></li>
                <li><a href="/agenda/">Agenda</a></li>
                <li class="active"><a href="/registrar/">Registrar</a></li>
                <li><a href="/consulta/">Consulta</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">

        <!--Tarjeta-->
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">

                        <div class="row">
                            <div class="col s12">
                                <h3 class="center">Registrar</h3>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col s10 offset-s1">

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="nombre_dueno" type="text" class="validate">
                                        <label for="nombre_dueno">nombre del dueño</label>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="nombre_mascota" type="text" class="validate">
                                        <label for="nombre_mascota">nombre de la mascota</label>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="telefono" type="text" class="validate">
                                        <label for="telefono">telefono</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="tipo_animal" type="text" class="validate">
                                        <label for="tipo_animal">Tipo de animal</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="peso" type="text" class="validate">
                                        <label for="peso">Peso</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="vacunas" type="text" class="validate">
                                        <label for="vacunas">Vacunas</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="edad" type="text" class="validate">
                                        <label for="edad">Edad</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input value="registrar" id="submit" type="submit" class="waves-effect waves-light btn col s12">
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    
</body>
</html>
{{end}}